################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Medical.sln
/Medical.api/bin/Debug/net6.0/Medical.api.deps.json
/Medical.api/bin/Debug/net6.0/Medical.api.dll
/Medical.api/bin/Debug/net6.0/Medical.api.exe
/Medical.api/bin/Debug/net6.0/Medical.api.pdb
/Medical.api/bin/Debug/net6.0/System.Net.WebSockets.WebSocketProtocol.dll
/Medical.api/obj/Debug/net6.0/ref/Medical.api.dll
/Medical.api/obj/Debug/net6.0/refint/Medical.api.dll
/Medical.api/obj/Debug/net6.0/staticwebassets/msbuild.build.Medical.api.props
/Medical.api/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.Medical.api.props
/Medical.api/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.Medical.api.props
/Medical.api/obj/Debug/net6.0/apphost.exe
/Medical.api/obj/Debug/net6.0/Medical.api.assets.cache
/Medical.api/obj/Debug/net6.0/Medical.api.csproj.AssemblyReference.cache
/Medical.api/obj/Debug/net6.0/Medical.api.csproj.CoreCompileInputs.cache
/Medical.api/obj/Debug/net6.0/Medical.api.csproj.FileListAbsolute.txt
/Medical.api/obj/Debug/net6.0/Medical.api.dll
/Medical.api/obj/Debug/net6.0/Medical.api.GeneratedMSBuildEditorConfig.editorconfig
/Medical.api/obj/Debug/net6.0/Medical.api.genruntimeconfig.cache
/Medical.api/obj/Debug/net6.0/Medical.api.pdb
/Medical.api/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Medical.api/obj/Release/net6.0/Medical.api.AssemblyInfo.cs
/Medical.api/obj/Release/net6.0/Medical.api.AssemblyInfoInputs.cache
/Medical.api/obj/Release/net6.0/Medical.api.csproj.AssemblyReference.cache
/Medical.api/obj/Release/net6.0/Medical.api.GeneratedMSBuildEditorConfig.editorconfig
/Medical.api/obj/Release/net6.0/Medical.api.GlobalUsings.g.cs
/Medical.api/obj/Medical.api.csproj.nuget.g.props
/Medical.api/obj/project.assets.json
/Medical.api/obj/project.nuget.cache
/.vs/Medical/config/applicationhost.config
/.vs/Medical/DesignTimeBuild/.dtbcache.v2
/.vs/Medical/FileContentIndex/a0f802d8-94ff-4bdb-9cc9-80bbfe02408f.vsidx
/.vs/Medical/FileContentIndex/f58d55cc-f2b4-4852-b03d-e9088dd730f5.vsidx
/.vs/Medical/FileContentIndex/read.lock
/.vs/Medical/v17/.futdcache.v2
/.vs/ProjectEvaluation/medical.metadata.v7.bin
/.vs/ProjectEvaluation/medical.projects.v7.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Medical.api/obj/Medical.api.csproj.nuget.dgspec.json
/.vs/Medical/v17/.suo
/.vs/Medical/v17/.wsuo
